body{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

header {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    padding: 200px 0;
    text-align: center;
    color: white;
}

li{
	float: left;
	list-style-type: none;
	padding: 25px;
}

nav{
	background-color: transparent;
}

h1{
	padding-top: 50px;
}

.index a {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive; 	
	font-size: 40px;
	padding-top: 25px;
	color: darkgrey;
}

.menu{
    overflow: auto;
}

.menu a{
	color: white;
	font-weight: bold;
}

.container h4{
	font-size: 50px;
}

.container h1{
	font-size: 60px;
	padding-bottom: 150px;
}

.container button{
	background-color: transparent;
}
